@import 'normalize.styl'
@import 'typography.styl'

html
  box-sizing border-box

*,
*:before,
*:after
  box-sizing inherit

figure
  margin 0

body
  background offwhite

.photo-grid
  display flex
  flex-flow row wrap
  justify-content space-between
  max-width 1200px
  margin 0 auto

.grid-figure
  display flex
  flex-direction column
  flex 1 0 30%
  max-width 30%
  border 1px solid lightgray
  padding 2rem
  box-shadow 0 0 5px rgba(0,0,0,0.03)
  margin-bottom 2rem

.single-photo
  border 1px solid lightgray
  max-width 900px
  margin 0 auto
  background white
  display flex

  .grid-figure
    border-width 0
    flex 1 0 60%
    max-width 60%

  .comments
    padding 2rem 2rem 0 0
    flex 1 0 40%
    max-width 40%

.grid-photo-wrap
  position relative

.grid-photo
  width calc(100%)

// Heart animation
.likes-heart
  background url(http://f.cl.ly/items/3Y373q2Q3J3Y1j203n0m/Bitmap-3.png) center no-repeat
  background-size contain
  font-size 2rem
  padding 1rem
  pointer-events none
  position absolute
  width 4rem
  height 4rem
  left 50%
  top 50%
  margin-left -2rem
  margin-top -2rem
  opacity 0
  transition all 0.5s // time to fade out after its done
  transform scale(5) // this is the "end state"
  display block

  &.like-enter
    transition all .2s
    transform scale(1)
    opacity 1

    &.like-enter-active
      transform scale(5)

  .like-leave-active
    display none

.control-buttons
  display flex
  justify-content space-between
  margin-top auto

// Buttons
button, .button
  border 2px solid lighten(grey, 90%)
  background none
  flex-basis 48%
  display inline-block
  line-height 2
  text-decoration none
  padding 5px
  text-align center
  font-size 15px
  color blue
  transition all 0.2s
  box-sizing padding-box

  &:hover, &:focus
    cursor pointer
    border-color blue
    outline 0

// Comment icon
.speech-bubble
  size = 1.25rem
  width size * 1.2
  height size
  background blue
  display inline-block
  border-radius 50%
  position relative
  margin-right 0.75rem

  &:after
    display inline-block
    position absolute
    content ''
    width 0
    height 0
    border-style solid
    border-width 0 size size 0
    border-color transparent blue transparent transparent
    top 30%
    left 0

// comments
.comment
  p
    font-size 1.35rem
    margin 0

  strong
    color blue
    padding-right 0.5rem

  .remove-comment
    border: 0
    line-height 1.5
    opacity: 0

    &:hover
      color: red

  &:hover
    .remove-comment
      opacity: 1

.comment-form
  input[type=text]
    border-color lightgray
    border-style solid
    border-width 0 0 1px 0
    font-size 1.35rem
    line-height 1.5
    padding 0.25rem
    outline none
    width 100%

    &:first-child
      border-width 1px 0 1px 0
